* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.header{
    display: flex;
    flex-direction: row;
}
.social-links{
    display: flex;
    flex-direction: row;
    align-content: end;
    margin-left: 35px;
}
.social-icons{
    align-content: center;
    margin-right: 15px
}

.logo-name{
    width: 100%;
    text-align: center;
    font-family:'Julius Sans One';
    font-size: 35px;
    align-content: center;
}

.logo{
    width: 150px;
    height: 150px;
}

.social-icons svg{
    width: 25px;
    height: 25px;
}







.slogan{
    font-family: 'Inter';
    font: 'SemiBold 600';
    font-size: 90px;
    margin-left: 70px;
}
.slogan2 {
    text-align: left;
    font-family: 'Inter';
    font-style: 'SemiBold 600';
    font-size: 90px;
    margin-left: 70px;
    margin-bottom: 50px;
}



.intro-section{
    display:flex;
    flex-direction: row;
    margin-left: 70px;
    margin-right: 70px;
}
.introduction{
    display:flex;
    flex-direction:column;
    margin-left: 20px;
}
.intro-txt{
    font-family:'inter';
}
.intro-img{
    width: 400px;
    border-radius: 25px
}
.contact-button{
    
}



.services-section{
    margin-top: 40px;
}
.services-container{
    display: flex;
    flex-direction: row;
    margin: 20px 70px 70px 70px
}
.service-box{
    display: flex;
    flex-direction: row;
    margin-right: 30px;

}
.services-title{
    font-family: 'inter';
    font-size: 40px;
    font-weight: 600;
    margin-left: 70px;
}
.service-txt{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-family: 'inter';
}
.service-txt .service-name{
    font-weight: 600;
}
.service-txt .service-description{
    font-weight: 250;
}



.carousel-background{
    background-color: black;
}
.carousel {
    position: relative;
    max-width: 900px;
    margin: 50px auto;
    margin-top: 10px;
}

.carousel-inner {
    display: flex;
    overflow: hidden;
}
.carasol-header{
    font-family: 'inter';
    font-weight: 600;
    color: white;
}
.carasol-text{
    font-family: 'inter';
    font-weight: 250;
    color: white;
}
.carousel-item {
    display: none;
    flex-direction: column;
}

.carousel-item.active {
    display: flex;
}

.main-slide {
    display: flex;
    margin-bottom: 20px;
    margin-top: 30px;
}

.main-image img {
    width: 400px;
    height: auto;
}

.slide-text {
    padding-left: 20px;
    flex-grow: 1;
}

.thumbnail-container-2{
    display: none;
}

.thumbnail-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 13px;
}

.thumbnail-container img {
    width: 290px;
    height: auto;
    cursor: pointer;
}

.prev, .next {
    position: absolute;
    top: 50%;
    background-color: #333;
    color: white;
    cursor: pointer;
    border: none;
    padding: 5px;
}

.prev {
    left: -28px;
}

.next {
    right: -28px;
}

.prev:hover, .next:hover {
    background-color: #555;
}



.steps-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
}

.steps-title{
    font-family: 'inter';
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 30px;
}

.steps-text {
    width: 55%;
}

.step-header{
    font-family: 'inter';
    font-weight: 600;
}
.step-description{
    font-family: 'inter';
    font-weight: 250;
}


.step {
    display: flex;
    align-items: flex-start;
    margin-bottom: 20px;
}

.step-icon {
    width: 50px;
    margin-right: 15px;
}

.step-icon img {
    width: 100%;
}

.step-details h2 {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.step-details p {
    margin-top: 5px;
    color: #555;
}

.steps-image {
    width: 40%;
}

.steps-image img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}




footer {
    background-color: #222;
    color: white;
    padding: 40px 0;
    width: 100%;
}

.footer-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-logo {
    width: 30%;
    margin-left: 20px;
}

.footer-logo .logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
}

.footer-logo p {
    font-size: 14px;
    font-family: 'inter';
    color: #b3b3b3;
    margin-top: 10px;
}

.footer-services {
    width: 30%;
}

.footer-services h3 {
    font-family: 'inter';
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.footer-services ul {
    list-style: none;
}

.footer-services ul li {
    font-family: 'inter';
    margin-bottom: 10px;
    color: #b3b3b3;
}

.footer-contact {
    width: 30%;
}

.footer-contact h3 {
    font-family: 'inter';
    margin-bottom: 15px;
    font-size: 18px;
    color: white;
}

.footer-contact ul {
    list-style: none;
}

.footer-contact ul li {
    font-family: 'inter';
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    color: #b3b3b3;
}

.footer-contact ul li svg {
    color: white;
    width: 20px;
    margin-right: 10px;
}
.footer-contact ul li img {
    color: white;
    width: 20px;
    margin-right: 10px;
}

.footer-contact ul li:last-child {
    margin-top: 20px;
    font-size: 14px;
    color: #b3b3b3;
}



@media (max-width: 960px){


    .social-links{
        display: none;
    }
    .logo-name{
        text-align: start;
    }
    .slogan{
        font-size: 50px;
        margin-left: 20px;
    }
    .slogan2{
        font-size: 50px;
        margin-left: 20px;
        margin-bottom: 20px;
    }





    .intro-section{
        display:flex;
        flex-direction: column;
        margin-left: 20px;
        margin-right: 20px;
    }

    .intro-img{
        width: 100%;
        justify-content: center;
        border-radius: 25px;
        margin-bottom: 20px
    }

    .intro-txt{
        text-align: center;
    }
    





    .services-container{
        display: flex;
        flex-direction: column;
        margin: 20px 20px 20px 20px
    }
    .services-title{
        margin-left: 0px;
        text-align: center;
    }
    .service-box{
        flex-direction: column;
    }
    .service-svg{
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
        margin-top: 20px;

    }







    .carousel {
        position: relative;
        max-width: 900px;
        margin: 0px;
    }
    
    .carousel-inner {
        display: flex;
        overflow: hidden;
    }
    .carasol-header{
        font-family: 'inter';
        font-weight: 600;
    }
    .carasol-text{
        font-family: 'inter';
        font-weight: 250;
    }
    .carousel-item {
        display: none;
        flex-direction: column;
    }
    
    .carousel-item.active {
        display: flex;
    }
    
    .main-slide {
        display: flex;
        margin-bottom: 20px;
    }
    
    .main-image{
        display: flex;
    }
    .main-image img {
        width: 100%;
    }
    
    .slide-text {
        padding-left: 20px;
        flex-grow: 1;
    }
    .main-slide {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }
    .thumbnail-container {
        display: none; /* Hide the desktop thumbnail container */
    }

    .thumbnail-container-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-bottom: 10px;
    }
    .thumbnail-slide{
        display: flex;
    }
    .thumbnail-slide img{
        width: 100%;
    }

    .slider-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .wrapper-holder {
        overflow: hidden;
        width: 100%;
        width: 300px;
    }

    .wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }

    .wrapper div {
        min-width: 100%;
    }

    .prev, .next {
        position: absolute;
        top: 50%;
        background-color: #333;
        color: white;
        cursor: pointer;
        border: none;
        padding: 5px;
    }
    
    .prev {
        left: -2px;
    }
    
    .next {
        right: 0px;
    }



    /* Navigation buttons for thumbnails in mobile */
    .button-holder a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        padding: 10px;
        cursor: pointer;
        text-decoration: none;
        z-index: 10;
    }

    .prev-img {
        left: 5px;
    }

    .next-img {
        right: 5px;
    }

    

    .prev-img:hover, .next-img:hover {
        background-color: rgba(0, 0, 0, 0.7);
    }



    .footer-container{
        flex-direction: column;
    }







    .steps-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        max-width: 1200px;
        margin: 0 auto;
        background-color: white;
    }
    
    .steps-title{
        font-family: 'inter';
        font-size: 40px;
        font-weight: 600;
        margin-bottom: 30px;
    }
    
    .steps-text {
        width: 80%;
    }

    .step {
        display: flex;
        align-items: flex-start;
        margin-bottom: 20px;
    }
    
    .step-icon {
        width: 50px;
        margin-right: 15px;
    }
    
    .step-icon img {
        width: 100%;
    }
    
    .step-details h2 {
        margin: 0;
        font-size: 20px;
        font-weight: bold;
    }
    
    .step-details p {
        margin-top: 5px;
        color: #555;
    }
    
    .steps-image {
        width: 100%;
    }
    
    .steps-image img {
        width: 100%;
        height: auto;
        border-radius: 8px;
    }

}